This machine is configured with ansible. Please refrain from modifing files
locally if you can.


       .''`.           {{ conference_name }} infrastructure machine
      : :`  :
      `. `'`           {{ conference_town }}, {{ conference_country }}
        `-
{% if room_name_toilet.stdout is defined %}{{ room_name_toilet.stdout }}{% endif %}

--
