# {{ ansible_managed }}

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

auto eth-local
iface eth-local inet static
     address {{ eth_local_address }}/{{ eth_local_netmask }}
     pre-up ethtool -K $IFACE gso off gro off tso off || true
{% if eth_local_gateway %}
     gateway {{ eth_local_gateway }}
{% endif %}

{% if eth_uplink_mac_address is defined %}
auto eth-uplink
iface eth-uplink inet dhcp
     pre-up ethtool -K $IFACE gso off gro off tso off || true
     up sysctl -w net.ipv4.ip_forward=1
     up iptables -t nat -A POSTROUTING -o $IFACE -j MASQUERADE
     up iptables -t mangle -A FORWARD -p tcp --tcp-flags SYN,RST SYN -j TCPMSS --clamp-mss-to-pmtu
     down iptables -t nat -D POSTROUTING -o $IFACE -j MASQUERADE
     down iptables -t mangle -D FORWARD -p tcp --tcp-flags SYN,RST SYN -j TCPMSS --clamp-mss-to-pmtu
{% endif %}
{% if eth_uplink_wifi_ssid is defined %}
     wpa-ssid {{ eth_uplink_wifi_ssid }}
{% if eth_uplink_wifi_psk is defined %}
     wpa-psk {{ eth_uplink_wifi_psk }}
{% else %}
     wpa-key-mgmt NONE
{% endif %}
{% endif %}
